{% extends 'Home/index.html' %}

{% block INDEX_TITULO %}
Quienes somos
{% endblock %}

{% block INDEX_CONTENIDO %}
    <div class="text-center display-1 mb-5 mt-3">
        
        Somos un grupo de jóvenes abogados que trabajamos en el mercado de seguros desde hace varios años en el cual notamos un “espacio vacío” entre las aseguradoras y sus clientes debido principalmente al engorroso lenguaje legal. Los contratos de seguros con sus condiciones generales, especiales y particulares, endosos, anexos y sin fin de referencias circulares a las cláusulas de las cláusulas vuelven la experiencia de comprar una cobertura algo muy tedioso y complicado.

        En ese contexto, nace Urano Broker de Seguros para acompañar a las empresas y a los seres humanos que las integran a gestionar sus riesgos patrimoniales y a adquirir los seguros que necesiten de una manera más amigable y enriquecedora para sus vidas.

    </div>
{% endblock INDEX_CONTENIDO %}